/* Mobile */
@media (max-width: 414px) { 
    
    .header__supports { 
        display: none;
    }
    .header__logo-img { 
        margin-left: -26px;
        margin-right: 0;
    }
    .header__search {
        position: absolute;
        top: 84px;
        left: 40px;
        width: 80%;
    }

    .img-model { 
        margin-top: 56px;
    }

    .user { 
        margin-left: -52px;
    }

    .user__item { 
        margin-left: 12px;
        width: 66px;
    }

    .display-none { 
        display: none;
    }

    #nav { 
        display: none;
    }

    .customer { 
        display: block;
        margin-left: 10px;
    }

    .customer__item-tablet {
        display: block;
        width: 100vw;
    }

    .customer__item { 
        margin-bottom: 16px;
    }


    .product-name { 
        font-size: 1.4rem;
    }

    .product-cart--price { 
        top: 66%;
        right: 18px;
    }

    .product-price { 
        font-size: 1.6rem;
        font-weight: 600;
    }

    .product-cart { 
        font-size: 1.4rem;
        margin-left: 28px;
    }

    .product { 
        margin-bottom: -110px;
    }

    .block__img {
        height: 815px;
        overflow: hidden;
    }

    .hot__search { 
        display: none;
    }

    .notifi { 
        margin-bottom: 40px;
    }

    .news__img1 { 
        width: 100%;
    }

    .news_subheading { 
        margin: 10px 0;
    }

    .news_heading { 
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    .news_desc { 
        margin-bottom: 20px;
        font-style: 1.2rem;
    }

    
    #footer { 
        height: 526px;
        top: 163%;
        min-height: 36%;
        clear: both;
    }

    .footer_social { 
        padding-bottom: 20px;
    }

    .li_menu:first-child { 
        margin-left: 18px;
    }
    
    
}

/* >= Tablet */
@media (min-width: 46.250em) and (max-width: 63.9375em) {
    .header__supports { 
        display: none;
    }


    .header__logo-img { 
        max-width: 100%;
        padding-right: 0;
    }
    .header__search {
        width: 100%;
        padding-right: 146px;
    }

    .user { 
        margin-left: 22px;
    }

    .user__item { 
        margin-left: 12px;
    }

    .display-none { 
        display: none;
    }

    #nav { 
        display: none;
    }

    .customer { 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .customer__item-tablet {
        display: inline-block;
        margin-left: -114px;
    }

    .customer__item { 
        margin-left: 214px;
        padding: 30px 0;
    }


    .product { 
        height: 280px;
    }
    .product-name {
        font-size: 1.8rem;
    }

    .product-cart--price {
        position: absolute;
        top: 328px;
        right: 18px;
    }

    .product-price { 
        font-size: 2rem;
    }

    .product-cart { 
        font-size: 1.4rem;
        margin-left: 20px;
    }

    .block__img { 
        width: 100%;
        height: 356px;
    }

    .mb20 { 
        margin-bottom: 20px;
    }

    .mb10 { 
        margin-bottom: 10px;
    }

    .mt10 { 
        margin-top: 10px;
    }
    
    .news_heading { 
        font-size: 1.6rem;
    }

    .news_subheading, .news_desc  { 
        font-size: 1.2rem;
    }

    .ml8 { 
        margin-left: 8px;
    }

    .display-block, .display-none { 
        display: block;
    }

    .quanlity {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: #3498DB;
        color: #fff;
        position: absolute;
        line-height: 1.6rem;
        left: 32px;
        top: 0px;
    }

    
}

/* PC medium resolution > */
@media (min-width: 69.563em) {

}